.gallery {
    max-width: 85%;
    width: 100%;
    background-color: #ccc;
    padding: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    .gallery-item {
        width: 25%;
        height: 250px;
        border: 1px solid #000;
        display: inline-block;
        float: left;
        box-sizing: border-box;

    }

}